.home-container {
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.todo-lists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: top;
    gap: 20px;
    padding: 20px;
    margin: 0px;
}
.add-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d0d0d0;
    color: white;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.add-button:hover {
    background-color: #bcbcbc;
}

.blur-background {
  filter: blur(4px);
}
h1{
    color:#202142;
    text-align: left;
}
.first-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 0px 20px;
    gap:20px;
}