/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #094e57, #202142);
    color: white;
    font-family: Arial, sans-serif;
}

.navbar-logo{
    display:flex;
    flex-direction: row;
}

.navbar-logo a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
}

.navbar-logo img {
    padding: 0.6rem;
}

.navbar-links {
    display:flex;
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    display: inline;
    height: 100%;
    margin: 0;
}

.navbar-links a, .navbar-links button {
    display:flex;
    text-decoration: none;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
    background: none;
    border: none;
}

.navbar-links a:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
}

.logout-button :hover{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
}

.navbar-logo a:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}